<app-navbar></app-navbar>
<div class="container mb-5 mt-4">
        <!-- fila 1 -->
    <div class="row mb-3">
        <!-- reporte 1 -->
        <div class="col-6">
            <div class="card">
                <div class="card-header">
                    <div class="card-title">
                        <h4>Suciedad Antes del Filtro</h4>
                    </div>
                </div>
                <div class="card-body">
                    <app-suciedad-antes></app-suciedad-antes>
                </div>
            </div>
        </div>
        <!-- reporte 2 -->
        <div class="col-6">
            <div class="card">
                <div class="card-header">
                    <div class="card-title">
                        <h4>Humedad en el Suelo</h4>
                    </div>
                </div>
                <div class="card-body">
                    <app-humedad></app-humedad>
                </div>
            </div>
        </div>
    </div>
        <!-- fila 2 -->
    <div class="row mb-3">
        <!-- reporte 3 -->
        <div class="col-6">
            <div class="card">
                <div class="card-header">
                    <div class="card-title">
                        <h4>Cantidad de Agua vs Tiempo</h4>
                    </div>
                </div>
                <div class="card-body">
                    <app-cantidad-agua></app-cantidad-agua>
                </div>
            </div>
        </div>

        <!-- reporte 4 -->
        <div class="col-6">
            <div class="card">
                <div class="card-header">
                    <div class="card-title">
                        <h4>Suciedad Después del Filtro</h4>
                    </div>
                </div>
                <div class="card-body">
                    <app-suciedad-despues></app-suciedad-despues>
                </div>
            </div>
        </div>

    </div>
        <!-- fila 3 -->
    <div class="row">
        
        <!-- reporte 5 -->
        <div class="col-6">
            <div class="card">
                <div class="card-header">
                    <div class="card-title">
                        <h4>Tiempo Requerido para Cantidad de Agua</h4>
                    </div>
                </div>
                <div class="card-body">
                    <app-tiempo></app-tiempo>
                </div>
            </div>
        </div>
    </div>
</div>